@charset "utf-8";

.main {background-color: antiquewhite; margin-top: 100px;}
.first {position: relative; height: auto; ; padding-top:  10px; padding-bottom: 10px; color: black; background-color: lightblue; max-width: 400px; margin: 0px auto;}
.second {position: relative; height: auto; padding-top:  10px; padding-bottom: 10px; color: black; background-color: lightpink; max-width: 400px; margin: 0px auto; top: 25px;}
.third {position: relative; height: auto; padding-top:  10px; padding-bottom: 10px; color: black; background-color: lightpink; max-width: 400px; margin: 0px auto; bottom: 1px;}

.foot { position: fixed; bottom:0; left: 5; font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";}
p {font-size: 19px; font-family: calibri; margin: 0px auto; padding-left: 30px; padding-right: 30px;max-width: 500px; text-align: center;}
